@import "./../colors/color.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  span {
    padding: 0px 20px;
    cursor: pointer;
  }

  .pagesText {
    background: $color-light-gray;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: $color-box-shadow-btn;
    display: flex;

    .active {
        background: $color-primary-blue;
        border-radius: 50%;
        color: $color-white;
        height: 30px !important;
        line-height: 26px;
        width: 1px;
        padding-left: 11px
    }
  }

  button {
    width: 60px;
    margin: 10px;
  }
}
