@import './../colors/color.scss';

.btn_primary {
  border-radius: 4px;
  background-color: $color-primary-blue;
  border: none;
  color: $color-white;
  text-align: center;
  font-size: 12px;
  padding: 12px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: $color-box-shadow-btn;

  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

  &:hover {
    padding-right: 24px;
    padding-left: 8px;
  }

  &:hover:after {
    opacity: 1;
    right: 10px;
  }

  &:after {
    content: "»";
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
  }
  &:disabled {
    background-color: $color-gray;
    cursor: not-allowed;
    opacity: 0.5;
  }
}
