@import './../colors/color.scss';

.header{
    background:$color-white;
    padding: 5px 20px;
    box-shadow: $color-box-shadow-btn;
    position: sticky;
    top:0;
    z-index: 10;
    img{
        height: 68px;
        width: 100px;
        cursor: pointer;
    }
}