@import "../colors/color.scss";

.container{
    display: flex;
    align-items: center;
    column-gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: auto;

    .image_slider {
        flex: 1;
        padding:100px;
        background: $color-light-gray;
        border-radius: 10px;
        max-width: 300px;
        box-shadow: $color-box-shadow-btn;

        .img_content{
            img{
                
                height: 300px;
                width: 300px;
                background-size: contain;
            }
        }
        
    }

    .product_details{
        max-width: 50%;
        margin: 0 auto;
        flex:1;
        align-self: flex-start;
        
        .product_price{
            strong{
                font-size: 18px;
                .discount_percentage{
                    color: rgba(245, 24, 24, 0.845)
                }
            }
        }
        
        .description{
            margin-top: 30px;
            p{
                color : rgb(100, 99, 99);
            }
        }
        button{
            margin-top: 30px;
        }
    }

    @media screen and (max-width: 768px){
        flex-direction: column;
        max-width: 90%;
        margin: auto;
        .product_details{
            width: 100%;
            max-width: 100%;
        }

        .image_slider{
            width: 100%;
            padding: 30px;
            
        }
        
    }
}

.related_product{
    margin-top: 120px;
    width: 100%;
    max-width: 1200px;
    margin:auto;
}